@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu";
}

body {
  width: 98vw;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: #e5e5e5;
}

main {
  width: 60vw;
  display: flex;
}

.left-container {
  width: 30vw;
  padding: 1rem;
  background-color: #e9e2e2;
  transition: 0.5s ease-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 5px 5px 15px #000;
}

a {
  color: #000;
}
.left-container h2 {
  margin: 1rem 0;
  text-shadow: 6px 6px 3px darkgrey;
}

.foto-perfil {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.foto-perfil .perfil {
  width: 10vw;
  animation: foto 4s forwards;
}

.nome {
  animation: nome 4s forwards;
}

@keyframes foto {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes nome {
  0% {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes noturno {
  0% {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.info-nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-contato {
  display: flex;
  margin: 1rem 0;
}

.info-contato p {
  margin: 0 1rem;
}

.right-container {
  width: 70vw;
  padding: 1rem;
  background-color: #d4cece;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 5px 5px 15px #000;
}

.right-container h2 {
  text-shadow: 6px 6px 3px darkgrey;
}

.description {
  text-indent: 1rem;
  text-align: left;
  margin: 0.5rem 0 1rem 0;
}

.interesses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 2rem 0;
}

.interesses-item {
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes carrosel {
  0% {
    transform: translate3d(0px, -10px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0px, -10px, 0);
  }
}

.interesses-item:hover {
  animation: carrosel 1s infinite;
}

/*  modo noturno */

.dark-background-container {
  background-color: #282a36;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  transition: 1s ease-out;
}

.dark-left-container {
  background-color: #44475a;
  color: rgb(233, 220, 220);
  text-shadow: 1px 1px 1px #000;
}

.dark-background-container .foto-perfil {
  animation: noturno 2s forwards;
}
.dark-right-container {
  background-color: #5f6275;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.dark-background-container a {
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.dark-background-container h2 {
  color: #fff;
  text-shadow: 6px 6px 3px #000;
}

@media (max-width: 768px) {
  main {
    width: 75vw;
  }
  .left-container {
    width: 40vw;
    padding: 1rem;
    background-color: #e9e2e2;
    transition: 0.5s ease-out;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 5px 5px 15px #000;
  }
}

@media (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    padding: 0;
  }

  main {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .left-container {
    width: 100vw;
    background-color: #e9e2e2;
    transition: 0.5s ease-out;
    border-radius: none;
    box-shadow: none;
  }

  a {
    color: #000;
  }
  .left-container h2 {
    margin: 1rem 0;
    text-shadow: 6px 6px 3px darkgrey;
    font-size: 2rem;
  }

  .foto-perfil {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .foto-perfil .perfil {
    width: 50vw;
  }

  .info-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-contato {
    display: flex;
    margin: 1rem 0;
  }

  .info-contato p {
    margin: 0 1rem;
  }

  .right-container {
    width: 100vw;
    padding: 1rem;
    background-color: #e9e2e2;
    border-radius: none;
    box-shadow: none;
  }

  .right-container h2 {
    text-shadow: 6px 6px 3px darkgrey;
  }

  .description {
    text-indent: 1rem;
    text-align: left;
    margin: 0.5rem 0 1rem 0;
  }

  .interesses {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .interesses-item {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: carrosel 1.7s infinite;
  }

  .interesses-item:nth-child(even) {
    animation: carrosel 2s infinite;
  }
  /*  modo noturno */

  .dark-background-container {
    background-color: #282a36;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    transition: 1s ease-out;
  }

  .dark-left-container {
    background-color: #444758;
    color: rgb(233, 220, 220);
    text-shadow: 1px 1px 1px #000;
  }

  .dark-right-container {
    background-color: #44475a;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }

  .dark-background-container a {
    color: #fff;
    text-shadow: 1px 1px 5px #000;
  }

  .dark-background-container h2 {
    color: #fff;
    text-shadow: 6px 6px 3px #000;
  }
}
